<div class='row'>
    <!-- Sidebar -->
    <div class='row blog-main'>
             
        <ul class="blog-post">
            {{countryCode}}
           <li ng-show="!posts">No News yet</li>
            <li ng-repeat='post in posts track by $index'>

                <a href="{{post.url}}" target="_blank">
                    <h2 class="blog-post-title">{{post.title}}</h2>
                </a>
                    <p class="blog-post-meta">{{post.publishedAt | date:'MM/dd/yyyy h:mma'}} by <a href="{{post.url}}" target="_blank">{{post.source.name}}</a></p>
                    <div class="row">
                        <div class="col-sm-12"><img class="img-thumbnail, img-responsive" ng-src="{{post.urlToImage}}"></div>
                       
                        <!--  <div class="col-sm-4"><h3><a href="{{post.url}}" target="_blank">{{post.description}} </a></h3></div> -->
                    </div>
                    <hr>


</li>
        </ul>
    </div>


    <!-- /Sidebar -->

    <!-- Page Content -->
    <div class='col-sm-8 full-height'>
        <h2>{{activePost.title}}</h2>
        <div btf-markdown='activePost.body'></div>
    </div>
</div>
